.nearby-store{
    margin:auto;
    background-color:#f2f2f2;
    padding:15px;
}
.nearby-store-headline h2{
    text-align:center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.nearby-store-result-box{
    width: 90%;
    margin: 10px auto;
}

.store1{
    border : 1px solid lightgray;
    border-radius:40px;
    width  : 30%;
    float:left;
    box-sizing: border-box;
}

.store1 img{
    display:block;
    margin:auto;
    border-radius:20px;
}
.store1 store1-content{
    text-align:center;
    margin:auto;
    padding: 5px 10px;
    background-color:#f2f2f2;
    position:absolute;
    top:50%;
    left:50%;
}   
.store1 h3{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
}
.store1 li{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:18px;
    list-style:none;
    padding:10px;
    color:#1d1d1f;
}



.store2 {
    border: 1px solid lightgray;
    border-radius: 40px;
    width: 30%;
    float:left;
    margin-left:5%;
    box-sizing: border-box;
}

.store2 img {
    display: block;
    margin: auto;
    border-radius: 20px;
}

.store2 store2-content {
    text-align: center;
    margin: auto;
    padding: 5px 10px;
    background-color:#f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
}

.store2 h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
}

.store2 li {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    list-style: none;
    padding: 10px;
    color: #1d1d1f;
}


.store3 {
    border: 1px solid lightgray;
    border-radius: 40px;
    width: 30%;
    box-sizing: border-box;
    float:right;
}

.store3 img {
    display: block;
    margin: auto;
    border-radius: 20px;
}

.store3 store3-content {
    text-align: center;
    margin: auto;
    padding: 5px 10px;
    background-color: #f2f2f2;
    position: absolute;
    top: 50%;
    left: 50%;
}

.store3 h3 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
}

.store3 li {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    list-style: none;
    padding: 10px;
    color: #1d1d1f;
}