* {
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.body {
    margin: 0;
    padding: 0;
}

.nav-menu {
    width: 100%;
    height: 44px;
    background-color: #F2F2F2;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar-container {
    display: table-cell;
    vertical-align: middle;
    float: center;
    line-height: 50px;
}

.navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    float: center;
}
  
.navbar-item {
    color: black;
    margin-right: 32px;
    font-size: 11px;
    font-weight: 400;
    display:inline-block;

}

.nav-search {
    width: 100%;
    height: 54px;
    background-color: #F2F2F2;
    color: #1d1d1f;
    padding: 8px 0;
    text-align: center;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.nav-search-bar_content {
    width: 100%;
    padding-left: calc(max(22px, env(safe-area-insert-left)));
    padding-right: calc(max(22px, env(safe-area-insert-left)));
    display: table;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    vertical-align: middle;
    text-align: center;
}

.nav-search-bar-li {
    display: table-cell;
    border-spacing: 20px;
}

.nav-search-bar-heading {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: large;

}

.nav-search-bar-input-section {
    text-align: center;
}

.nav-search-input {
    text-align: left;
    max-width: 380px;
    position: relative;
}

.form-textbox-input {
    width: 100%;

}

.search-input-icon {
    position:absolute;
}

.complete-store-list {
    font-size: small;
}


.ribbon-content {
    width: 100%;
    height: 76px;
    background-color:#F5F5F7;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.search-result {
    width: 100%;
    height: 465px;
    background-color: aqua;
    text-align: center;
}

.search-result-blank {
    width: 100%;
    height: 36px;
    background-color: blueviolet;
    margin: 0;
}

.search-result-seoul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(224, 165, 165);
    height: 44px;
    font-size: xx-large;

}

.search-result-blank-2 {
    width: 100%;
    height: 34px;
    background-color: blueviolet;
    margin: 0;
}

.search-result-seoul-content {

}

.come-see {
    width: 100%;
    height: 1090px;
    background-color: rgb(89, 89, 164);
    text-align: center;
}

.come-see-blank {
    width: 100%;
    height: 43px;
    background-color: blueviolet;
    margin: 0;
}

.come-see-title {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(207, 152, 152);
}

.come-see-blank-2 {
    width: 100%;
    height: 10px;
    background-color: blueviolet;
    margin: 0;
}

.come-see-advice {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    background-color: rgb(99, 145, 130);
}

.come-see-blank-3 {
    width: 100%;
    height: 43px;
    background-color: blueviolet;
    margin: 0;
}

.get-started {
    width: 100%;
    height: 800px;
    background-color: rgb(240, 212, 152);
    text-align: center;
}

.get-started-blank {
    width: 100%;
    height: 40px;
    background-color: blueviolet;
    margin: 0;
}


.get-started-title {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(207, 152, 152);
}

.get-started-blank-2 {
    width: 100%;
    height: 10px;
    background-color: blueviolet;
    margin: 0;
}

.get-started-advice {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    background-color: rgb(99, 145, 130);
}

.get-started-blank-3 {
    width: 100%;
    height: 43px;
    background-color: blueviolet;
    margin: 0;
}

.now-apple {
    width: 100%;
    height: 730px;
    background-color: rgb(224, 155, 43);
    text-align: center;
}

.now-apple-blank {
    width: 100%;
    height: 40px;
    background-color: blueviolet;
    margin: 0;
}

.now-apple-title {
    width: 100%;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    background-color: rgb(207, 152, 152);
}

.now-apple-blank-2 {
    width: 100%;
    height: 43px;
    background-color: blueviolet;
    margin: 0;
}

.section-to-footer-blank {
    width: 100%;
    height: 82px;
    background-color: blueviolet;
    margin: 0;
}

.ps {
    width: 100%;
    height: 800px;
    background-color: bisque;
}

.ps-portal {

    width: 2000px;
    height: 280px;
    background-color:beige;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: #6E6E73;
    font-size: 11px;
}